.ai-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.robot {
    width: 220px;
    animation: float 3s ease-in-out infinite;
    filter: drop-shadow(0 0 15px #00eaff);
}

/* Animasi melayang ala AI */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
.robot-login {
    width: 120px;
    margin-bottom: 15px;
    animation: float 2.5s ease-in-out infinite;
}
